
/src/_ReSharper.OAuth2
/src/_ReSharper.OAuth2
*.suo
*.dotCover
/src/OAuth2/bin
/src/OAuth2/obj
/src/OAuth2.UnitTests/bin
/src/OAuth2.UnitTests/obj
/src/OAuth2.AcceptanceTests/bin
/src/OAuth2.AcceptanceTests/obj